numpy==1.24.4
scipy==1.10.1
pandas==2.0.3
tqdm==4.66.1
matplotlib==3.7.3
seaborn==0.13.2          
pillow==10.0.1
opencv-python==4.8.1.78
imageio==2.32.0
torch==2.1.0+cu121         --extra-index-url https://download.pytorch.org/whl/cu121
torchvision==0.16.0+cu121  --extra-index-url https://download.pytorch.org/whl/cu121
torchaudio==2.1.0+cu121    --extra-index-url https://download.pytorch.org/whl/cu121
pyg-lib==0.3.1+pt21cu121           --find-links https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch-scatter==2.1.2+pt21cu121     --find-links https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch-sparse==0.6.18+pt21cu121     --find-links https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch-cluster==1.6.3+pt21cu121     --find-links https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch-spline-conv==1.2.2+pt21cu121 --find-links https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
trimesh==4.0.4
open3d==0.17.0
pyglet==2.0.10
pyopengl==3.1.0
smplx==0.1.28
pyquaternion==0.9.9
transformers==4.38.2
tokenizers==0.15.2
huggingface-hub==0.21.4
spacy==3.7.4
thinc==8.2.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
langcodes==3.3.0
srsly==2.4.8
wasabi==1.1.2
typer==0.9.0
blis==0.7.11
cymem==2.0.8
preshed==3.0.9
murmurhash==1.0.10
catalogue==2.0.10
tensorboardx==2.6.2.2
safetensors==0.4.2
filelock==3.13.1
configargparse==1.7
click==8.1.7
plotly==5.18.0
dash==2.14.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
flask==3.0.0
itsdangerous==2.1.2
werkzeug==3.0.1
jinja2==3.1.2
requests==2.31.0
urllib3==2.0.7
charset-normalizer==3.3.2
idna==3.4
protobuf==4.25.0
pydantic==2.6.3
pydantic-core==2.16.3
annotated-types==0.6.0
addict==2.4.0
ipython==8.12.3
ipywidgets==8.1.1
widgetsnbextension==4.0.9
nbformat==5.7.0